<h1>Cardápios de <%= @establishment.brand_name %></h1>

<div>
  <%= link_to 'Cadastrar Cardápio', new_menu_path %>
</div>

<table>
  <thead>
  <tr>
    <th>Cardápio</th>
  </tr>
  </thead>
  <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <td><%= link_to menu.name, menu_path(menu.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>